<div class="card">
  <div class="card-body">
    <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
    <%= form_with model: @tweet do |f| %>
      <% if @tweet.errors.any? %>
        <div class="alert alert-danger">
          <% @tweet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.text_area :tweet, class: 'form-control', placeholder: 'What is happening?' %>
      </div>
      <div class="mb-3">
        <%= f.submit 'Tweet', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
