<div class="card">
  <img src="https://picsum.photos/600/200" class="card-img-top" alt="Lorem picsum random image" %>
  <div class="card-body">
    <h5 class="card-title">
      <%= gravatar_image_tag(@user.email, size: 64, class: "rounded-circle mr-1",alt: @user.name) %>
    </h5>
    <% if user_signed_in? %>
      <p class="card-text">
        <strong><%= @user.name %></strong><br/>
        <small>@<%= @user.username %></small>
      </p>
      <% if (current_user != @user) %>
        <%= render 'tweets/follow_button', user: @user %>
      <% end %>
    <% else %>
      <p class="card-text">
        <strong><%= @user.name %></strong><br/>
        <small><%= '@' + @user.username %></small>
      </p>
      <%= render 'tweets/follow_button', :user => User.find_by_username(params[:id]) %>
    <% end %>
    <div class="container border-top px-0">
      <div class="row justify-content-center">
        <div class="col text-center mt-3 px-2">
          <p>
            <small><b><%= @user.tweets.count %></b></small>
            <small>Tweets</small>
          </p>
        </div>
        <div class="col mt-3 text-center px-2">
          <p>
            <small><b><%= @user.following.count %></b></small>
            <small><%= link_to 'Following', followings_path(@user.username), class: "text-decoration-none" %></small>
          </p>
        </div>
        <div class="col mt-3 text-center px-2">
          <p>
            <small><b><%= @user.followers.count %></b></small>
            <small><%= link_to 'Followers', followers_path(@user.username), class: "text-decoration-none" %></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
