<% @users.each do |user| %>
  <% if current_user.nil? || current_user.id != user.id %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
          </h5>
          <% if user_signed_in? %>
          <p class="card-text">
            <strong><%= user.name %></strong><br/>
            <small>@<%= user.username %></small>
          </p>
          <%= render partial: 'tweets/follow_button', :user => User.find_by_username(params[:id]) %>
          <% else %>
          <p class="card-text">
            <strong><%= user.name %></strong><br/>
            <small>@<%= user.username %></small>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
