<div class="card">
  <div class="card-body">
    <%= gravatar_image_tag(current_user.email, :gravatar => { :size => 50 }, class: "rounded-circle mr-1", alt: current_user.name) %>
    <p><strong><%= @tweet.user.name %></strong>,
    <%= '@' + @tweet.user.username + '·' + @tweet.created_at.getlocal.strftime("%d %b. %Y · %I:%M %P") %></p>
    <p><%= @tweet.tweet %></p>

    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <nav class="level">
        <div class="level-left is-mobile">
          <%= link_to 'Back', tweets_path, class: "btn btn-primary btn-sm" %>
          <%= link_to tweet_path, method: :delete, data: { confirm: "Are you sure you want to delete this tweet?" } do %>
            <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </nav>
    <% end %>
  </div>
</div>
