<div class="card">
  <div class="card-header">
    <b>Users following <%= @user.name %>:</b>
  </div>
  <% @user.followers.each do |follower| %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-0">
        <div class="card-body">
          <p class="card-text">
            <%= gravatar_image_tag(follower.email, :gravatar => { :size => 50 }, class: "rounded-circle mr-1", alt: follower.name) %>
            <br/>
            <b><%= follower.name %></b><br/>
            <small><%= link_to '@' + follower.username, user_path(follower.id), class: "text-decoration-none" %></small>
          </p>
          <% if follower != current_user %>
            <% if !current_user.followers.include? follower %>
              <%= render partial: 'tweets/follow_button', locals: { user: follower } %>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to 'Back', tweets_path, class:"btn btn-primary" %>
</div>
